<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="flex flex-row max-h-screen auto-rows-auto grid-cols-4">
    @defer {
        <img class="block mx-auto min-h-9 max-h-screen shadow-md  rounded-lg my-3" src="./assets/myPhoto.jpg" alt="my photo">
    } @loading {
      <mat-spinner></mat-spinner>
    }
    <div class="selection:bg-fuchsia-300 selection:text-fuchsia-900 my-auto mx-auto">
      <div class="space-y-0.5">
        <p class="text-lg text-white font-semibold">
          Matteo Stefanelli
        </p>
        <p class="text-slate-500 font-medium font-mono">
            Hi, my name is Matteo Stefanelli, I'm a Software Engineer.
            I really love Android programming and the Kotlin programming language.
        </p>
      </div>
    </div>
</div>