<div class="row background">
    <div class="col">
        <div class="row">
            <div class="col-4">
                @defer {
                    <img src="./assets/myPhoto.png">
                } @loading {
                    <mat-spinner></mat-spinner>
                }
            </div>
            <div class="col">
                <p>
                    Hi, my name is Matteo Stefanelli, I'm a Software Engineer.
                    I really love Android programming and the Kotlin programming language.
                </p>
            </div>
        </div>
    </div>
</div>